<html>
	<head>
		<title></title>
		<style>
			#top {
				height: 200px;
				width: 100%;
				overflow: scroll;
			}
			#match-0 {
				height: 100%;
				width: calc(50% - 4px);
				float: left;
			}
			#match-1 {
				height: 100%;
				width: calc(50% - 4px);
				float: right;
			}
			.moss-section {
				border-width: 2px;
				border-style: ridge;
				overflow: scroll;
			}
		</style>
		</head>
	<body>
		<div id="top" class="moss-section"></div>
		<div id="match-0" class="moss-section"></div>
		<div id="match-1" class="moss-section"></div>
	</body>
</html>
